.circle-style {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #817e7ea1;
  margin-right: 15px;
}

.square-style {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #817e7ea1;
  margin-right: 15px;
}
.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
list-style: none;

}

.gallery-item{
  display: flex;
  flex-direction: column;
  
}